html {
    background: #caf0f8;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    font-size: 1.7em;
    font-weight: bold;
    border: 2px solid #0077b6;
    color: #0077b6;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    margin: 1px 10px;
    background: white;
    cursor: default;
    transition: background 0.7s, cursor 5s;
}

button:hover {
    background: rgba(0, 0, 0, 0.2);
    cursor: pointer;
    animation: pop 0.2s linear 1;
}

@keyframes pop {
    50% {
        transform: scale(1.05);
    }
}

p {
    font-size: 2em;
    color: rgba(0, 0, 0, 0.695);
    max-width: 80%;
    max-height: 80%;
}

img {
    height: 80px;
    width: 196.66666667px;
    margin: 1px 10px;
    border-radius: 35px;
    object-fit: cover;
}

button[value="clear"],
button[value="delete"] {
    color: #e63946;
    border: 2px #e63946 solid;
}

button[value="clear"]:hover,
button[value="delete"]:hover {
    background: #e6394750;
}

button[value=" + "],
button[value=" - "],
button[value=" × "],
button[value=" ÷ "],
button[value=" ^ "],
button[value=" % "] {
    color: #55a630;
    border: 2px #55a630 solid;
}

button[value=" + "]:hover,
button[value=" - "]:hover,
button[value=" × "]:hover,
button[value=" ÷ "]:hover,
button[value=" ^ "]:hover,
button[value=" % "]:hover {
    background: #55a63050;
}

.calculator {
    height: 800px;
    width: 600px;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.261);
    display: flex;
    flex-direction: column;
    border-radius: 50px;
    background: #030b5e2e;
}

.calc-upper-side {
    box-sizing: border-box;
    height: 400px;
    width: 596px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    word-wrap: break-word;
    background: rgb(255, 255, 255);
    border-radius: 50px;
}

.calc-lower-side {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 400px;
    width: 596px;
    padding: 20px 10px;
}

.info {
    margin-left: 30px;
    height: 800px;
    width: 400px;
    font-size: 1.5em;
    color: rgba(0, 0, 0, 0.695);
    word-wrap: break-word;
}

span {
    font-weight: bold;
}

@media (max-width: 1020px) {
    .info {
        display: none;
    }

    .calculator {
        height: 500px;
        width: 300px;
    }

    .calc-upper-side {
        height: 250px;
        width: 296px;
    }

    .calc-lower-side {
        height: 250px;
        width: 296px;
    }

    button {
        font-size: 1.2em;
        height: 35px;
        width: 35px;
    }

    p {
        font-size: 1.2em;
    }
}
