body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    font-size: 1.7em;
    border: 1px solid gray;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    margin: 1px 10px;
    background: none;
    cursor: default;
    transition: background 0.7s, cursor 5s;
}

button:hover {
    background: rgba(128, 128, 128, 0.241);
    cursor: pointer;
}

p {
    font-size: 2em;
    color: rgba(0, 0, 0, 0.695);
    max-width: 80%;
    max-height: 80%;
}

.calculator {
    height: 800px;
    width: 600px;
    box-sizing: border-box;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
}

.calc-upper-side {
    box-sizing: border-box;
    height: 400px;
    width: 600px;
    padding: 10px;
    border: 1px solid black;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    word-wrap: break-word;
}

.calc-lower-side {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 400px;
    width: 600px;
    padding: 20px 0px;
    border: 1px solid black;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.calc-lower-side button:nth-child(16) {
    margin: 1px 36.66666667px 1px 26.66666667px;
}

.calc-lower-side button:nth-child(17) {
    margin: 1px 36.66666667px 1px 0px;
}

.calc-lower-side button:nth-child(18) {
    margin: 1px auto 1px 0px;
}

.calc-operation-buttons button {
    height: 50px;
    width: 100px;
}

@media (max-width: 800px) {
    .calculator {
        height: 600px;
        width: 400px;
    }

    .calc-upper-side {
        height: 300px;
        width: 400px;
    }

    .calc-lower-side {
        height: 300px;
        width: 400px;
    }

    .calc-num-buttons {
        height: 300px;
        width: 250px;
    }

    .calc-operation-buttons {
        height: 300px;
        width: 150px;
    }

    .calc-operation-buttons button {
        height: 40px;
        width: 80px;
    }

    button {
        font-size: 1.2em;
        border: 1px solid gray;
        border-radius: 10px;
        height: 60px;
        width: 50px;
    }
}
