html {
    background: #caf0f8;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-content {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

span {
    font-weight: bold;
}

footer {
    margin-top: auto;
    display: flex;
}

small {
    width: 100%;
    align-items: center;
    justify-content: center;
}

button {
    height: 57px;
    width: 57px;
    margin: 5px;
    font-size: 1.4em;
    font-weight: bold;
    color: #0077b6;
    border: 3px solid #0077b6;
    border-radius: 50%;
    cursor: default;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    background: white;
    transition: background 0.7s, cursor 5s;
}

button[value="clear"],
button[value="delete"] {
    color: #e63946;
    border: 3px #e63946 solid;
}

button[value=" + "],
button[value=" - "],
button[value=" × "],
button[value=" ÷ "],
button[value=" ^ "],
button[value=" % "] {
    color: #55a630;
    border: 3px #55a630 solid;
}

button[value="."],
button[value=" = "],
#previous-answer,
button[value="("],
button[value=")"],
button[value="(-)"] {
    color: #fb8b24;
    border: 3px #fb8b24 solid;
}

button:hover {
    background: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

button[value="clear"]:hover,
button[value="delete"]:hover {
    background: #e6394750;
}

button[value=" + "]:hover,
button[value=" - "]:hover,
button[value=" × "]:hover,
button[value=" ÷ "]:hover,
button[value=" ^ "]:hover,
button[value=" % "]:hover {
    background: #55a63050;
}

button[value="."]:hover,
button[value=" = "]:hover,
#previous-answer:hover,
button[value="("]:hover,
button[value=")"]:hover,
button[value="(-)"]:hover {
    background: #fb8c2450;
}

p {
    font-size: 2em;
    word-wrap: break-word;
    width: 380px;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
}

.calculator {
    box-sizing: border-box;
    height: 700px;
    width: 420px;
    display: flex;
    flex-direction: column;
    border: 2px solid rgba(0, 0, 0, 0.261);
    border-radius: 50px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    background: #030b5e2e;
}

.calc-upper-side {
    box-sizing: border-box;
    height: 350px;
    width: 416px;
    padding: 10px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    word-wrap: break-word;
    background: #e3eeff;
    border-radius: 50px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.screen {
    box-sizing: border-box;
    width: 408px;
    display: flex;
    justify-content: center;
}

.calc-lower-side {
    box-sizing: border-box;
    height: 350px;
    width: 416px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.animation {
    animation: pop 0.1s linear 1;
}

@keyframes pop {
    50% {
        transform: scale(1.1);
    }
}

svg {
    height: 30px;
    width: 30px;
    position: absolute;
    top: 20px;
    border-radius: 50%;
    box-shadow: none;
    background: #e3eeff;
    transition: box-shadow 0.5s;
}

svg:hover {
    box-shadow: 0px 0px 15px 5px rgb(228, 238, 82);
    border-radius: 50%;
}

.dropdown {
    width: 30px;
    margin: 40px 10px 400px 0px;
    position: absolute;
    display: flex;
    justify-content: end;
}

.dropdown-info {
    font-size: 1.4em;
    width: 320px;
    padding: 10px;
    margin-top: 40px;
    visibility: hidden;
    position: absolute;
    top: 20px;
    left: -200px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    opacity: 0;
    transition: visibility 0s, opacity 0.2s linear;
}

.dropdown-info h3 {
    padding-bottom: 10px;
    font-size: 1em;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.dropdown-info li {
    padding: 5px;
    font-size: 0.8em;
}

.dropdown-info li:hover {
    background-color: white;
}

.dropdown-info h3:hover {
    background-color: white;
}

.dropdown:hover div:nth-child(2) {
    visibility: visible;
    opacity: 1;
}

.active {
    visibility: visible;
    opacity: 1;
}

#answer-info {
    max-width: max-content;
    padding: 0px 100px;
    margin: 500px 0px 0px 0px;
}

@media (max-width: 1020px) {
    .calculator {
        height: 500px;
        width: 300px;
    }

    .calc-upper-side {
        height: 250px;
        width: 296px;
        padding: 10px;
    }

    .screen {
        width: 292px;
    }

    .calc-lower-side {
        height: 250px;
        width: 296px;
    }

    button {
        height: 45px;
        width: 45px;
        margin: 1px 1px;
        font-size: 1em;
    }

    p {
        width: 276px;
        font-size: 1.2em;
    }

    svg {
        visibility: hidden;
    }
}

@media (max-width: 500px) {
    .info {
        display: none;
    }
}
